<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head('Show Ad')">
    <meta charset="UTF-8">
    <title>Roll the Dice</title>
</head>
<body>
<nav th:replace="partials/navbar :: nav"></nav>
<header th:replace="partials/header :: header('Welcome to the Blog!')"></header>

<main>
    <div class="card">
        <h2 th:text="${ad.title}"></h2>
        <p th:text="${ad.description}"></p>
        <p>Posted By: <span th:text="${ad.owner.username}"></span></p>
        <p>Contact: <span th:text="${ad.owner.email}"></span></p>
        <ul>
            <li th:each="category : ${ad.}"></li>
        </ul>
        <form th:action="@{/ads/{id}/edit(id=${ad.id})}" th:method="get">
            <button class="btn btn-primary">Edit</button>
        </form>
        <form th:action="@{|/ads/${ad.id}/delete|}" th:method="post">
            <button class="btn btn-danger">Delete</button>
        </form>
    </div>
</main>

<footer th:replace="partials/footer :: footer"></footer>
<th:block th:include="partials/scripts :: scripts"></th:block>
</body>
</html>