<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:fragment="nav">
    <ul class="nav bg-dark">
        <li class="nav-item">
            <a class="nav-link text-light" th:href="@{/}">Blog</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" th:href="@{/ads}">Posts</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" th:href="@{/ads/create}">Create Posts</a>
        </li>
        <li class="nav-item ml-auto">
            <a class="nav-link text-light" th:href="@{/register}">Register</a>
        </li>
        <li class="nav-item">
<!--            <a class="nav-link text-light" th:href="@{/login}">Login</a>-->
            <form th:action="@{/login}" th:method="post">
                <button class="btn-link btn" style="margin-top: 8px">Login</button>
            </form>
        </li>
        <li>
            <form th:action="@{/logout}" th:method="post">
                <button class="btn-link btn" style="margin-top: 8px">Logout</button>
            </form>
        </li>
    </ul>
</nav>
</body>
</html>