<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <nav th:fragment="nav">
        <ul class="nav bg-dark">
            <li class="nav-item">
                <a th:href="@{/}" class="nav-link text-light">Blog</a>
            </li>
            <li class="nav-item">
                <a th:href="@{/posts}" class="nav-link text-light">Posts</a>
            </li>
            <li class="nav-item">
                <a th:href="@{/posts/create}" class="nav-link text-light">Create</a>
            </li>
            <li class="nav-item ml-auto">
                <a th:href="@{/register}" class="nav-link text-light">Register</a>
            </li>
            <li class="nav-item">
                <a th:href="@{/login}" class="nav-link text-light">Login</a>
            </li>
        </ul>
    </nav>

</body>
</html>