<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head('Dice Roll')">
    <meta charset="UTF-8">
    <title>Dice Roll</title>
</head>
<body>
    <nav th:replace="partials/navbar :: nav"></nav>

    <header th:replace="partials/header :: header('Roll the dice')"></header>

    <a th:href="@{/roll-dice/1}" class="btn btn-primary">1</a>
    <a th:href="@{/roll-dice/2}" class="btn btn-primary">2</a>
    <a th:href="@{/roll-dice/3}" class="btn btn-primary">3</a>
    <a th:href="@{/roll-dice/4}" class="btn btn-primary">4</a>
    <a th:href="@{/roll-dice/5}" class="btn btn-primary">5</a>
    <a th:href="@{/roll-dice/6}" class="btn btn-primary">6</a>

    <div th:if="${chosen}">
        You chose was <span th:text="${chosen}"></span>.<br>
        The rolled number is <span th:text="${randomNumber}"></span>.
    </div>

    <h3 th:if="${isMatching}">
        You were correct!
    </h3>

    <h3 th:if="${isMatching != null && !isMatching}">
        You were incorrect!
    </h3>

    <footer th:replace="partials/footer :: footer"></footer>

    <th:block th:include="partials/scripts :: scripts"></th:block>
</body>
</html>